body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fafafa;
}

button {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 4px;
  align-self: center;
  margin: 0 10px;
}

.plus {
  background-color: blueviolet;
}

.any-less {
  background-color: red;
}
